@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

.upload-area {
  border: 2px dashed rgb(var(--foreground-rgb));
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

.upload-area:hover {
  border-color: #3b82f6;
  background-color: rgba(59, 130, 246, 0.1);
}
